.class {
    font-size: larger;
    font-family: 'Verdana';
    width: 75vh;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-left:75vh;
    margin-bottom: 15px;
    background-color: peachpuff;
}
.information {
    font-size: medium;
    font-family: 'Verdana';
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}

#title {
    font-size: medium;
    font-weight: 700;
}

#error {
    font-size: medium;
    font-weight: 700;
    position: relative;
    bottom: 5px;
}

#description {
    font-size: small;
    position: relative;
    bottom: 5px;
}